@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 0 30px;
}

.header{
    margin-bottom: 48px;
}

a{
    text-decoration: none;
}

.logo {
    margin-bottom: 40px;
    height: 79px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

span{
    color:#000000;
}

.navbar{
    background: #35444F;
    display: flex;
    justify-content: center;
}

.line{
    border-left: 1px solid white;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    height: 70px;
    transition: background-color 0.5s ease;
}

.nav-link{
    padding: 0 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

}

.nav:hover{
    background: #222F3A;
}

.site-content{
    display: flex;
    padding-bottom: 54px;
}

.menu{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 50px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 345px;
    list-style: none;
}

.menu-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    color: #495863;
    padding: 25px 40px;
    transition: padding 0.5s ease;
}

.menu-link:hover{
    color: #35444F;
    padding-left: 80px;
    background: #DBDBDB;
}

.frame-img{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 885px;
    height: 530px;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    transition: transform 1s ease;
}

.frame:hover {
    transform: scale(1.2);
}

.main-paragraph{
    margin-top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}

.footer{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    width: 875px;
}

.footer-item{
    display: flex;
    align-items: center;
    height: 70px;
}

.footer-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding: 10px 0;
    color: #0C1927;
}

.footer-link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.c-copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}